/* .app {
  margin: 50px 30px 30px 30px;
} */

.app .container{
  margin: 24px;
}

/* .app .container {
  text-align: center;
} */

/* .app i {
  cursor: pointer;
} */

.app .btnContainer {
  position: relative;
  display: inline-block;
}
