.btnContainer {
    position: relative;
    display: inline-block;
}

.Container{
    /* height: 100%; */

}

.txt{
    text-align: center;
    position: relative;
    top: 22px;
}

.btn{
    text-align: center;
    position: relative;
    top: 35px;
}

.paper{
    height: 20%;
}